In [1]:
import pandas as pd

In [2]:
x = pd.Series([1, 2, 3, 4, 5], index=["圖書館", "館藏地", "索書號", "館藏狀態", "連結"])
y = pd.Series([4, 5, 6, 7, 8], index=["圖書館", "館藏地", "索書號", "館藏狀態", "連結"])
z = pd.Series([7, 8, 9, 1, 2], index=["圖書館", "館藏地", "索書號", "館藏狀態", "連結"])
df_lst = [x, y, z]

In [3]:
pd.DataFrame([x, y, z])

   圖書館  館藏地  索書號  館藏狀態  連結
0    1    2    3     4   5
1    4    5    6     7   8
2    7    8    9     1   2