In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])

In [3]:
df1

      col 1 col 2
row 1     a     b
row 2     c     d

In [5]:
df1.to_excel("output1.xlsx")

In [6]:
df1.to_excel("output2.xlsx",
             sheet_name='Sheet_name_1')

In [7]:
df2 = df1.copy()

In [8]:
with pd.ExcelWriter('output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_1')
    df2.to_excel(writer, sheet_name='Sheet_name_2')