In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import Select
import pandas as pd

ISBN = 9789869109321

my_options = Options()
my_options.add_argument("--headless")
driver = webdriver.Chrome(options=my_options)
driver.get("https://koha.shu.edu.tw/")

select = Select(driver.find_element_by_name("idx"))
select.select_by_visible_text(u"ISBN")

search_input = driver.find_element_by_name("q")
search_input.send_keys(ISBN)
search_input.submit()

In [2]:
html_text = driver.page_source
dfs = pd.read_html(html_text, encoding="utf-8")
df_shu = dfs[0]
driver.quit()  # 關閉整個瀏覽器
df_shu

             現行位置  館藏                   索書號  狀態  到期日       條碼  館藏預約
0  世新大學圖書館  中文圖書區  圖書  550.187 8757  (瀏覽書架)  可借  NaN  C435297   NaN

In [3]:
df_shu.insert(0, "圖書館", ["世新大學" for i in range(df_shu.shape[0])])
for x in ["館藏", "到期日", "條碼", "館藏預約"]: df_shu.pop(x)
df_shu.rename(columns={"現行位置": "館藏地",
                       "狀態": "館藏狀態"}, inplace=True)
df_shu["館藏地"] = df_shu["館藏地"].str.replace("世新大學圖書館", "")
df_shu

    圖書館      館藏地                   索書號 館藏狀態
0  世新大學    中文圖書區  550.187 8757  (瀏覽書架)   可借